In [21]:
import pandas as pd
from entities import Contractor, Consultancy, TransactionAgreement, CoachingPracticeFinance

finance = CoachingPracticeFinance.load()

# Create the first dataframe with consultancies data

In [22]:
df1 = pd.DataFrame([c.__dict__ for c in finance.consultancies], columns=Consultancy.__fields__.keys())
df1 = df1.rename(columns={"code": "consultancy_code", "name": "consultancy_name"})
df1 = df1.drop(["invoices"], axis=1)
df1

,consultancy_code,consultancy_name,contract,contact_name,contact_phone,contact_email
0,ilc,Industrial Logic Canada,CTR018457,Ardita Karaj,416-123-4567,ardita@industriallogic.ca
1,xodiac,Xodiac (2018) Inc.,CTR020388,Gino Marckx,416-123-4567,gino.marckx@xodiac.ca
2,ra,"Rosetta Technology Group, LLC",CTR019969,Jardena London,999-555-1212,jardena@rosettaagile.com
3,qdi,Quality Driven Inc.,Stand-Alone,Paul Carvalho,416-123-4567,paul@quality-driven.com

# Create the second dataframe with contractor data

In [27]:
df2 = pd.DataFrame([c.__dict__ for c in finance.contractors], columns=Contractor.__fields__.keys())
df2 = df2.rename(columns={"code": "contractor_code", "name": "contractor_name"})
df2

,contractor_code,contractor_name,email,start_date,phone_number,end_date,consultancy_code
0,267298982,John Borys,john.borys@rbc.com,2022-06-06,416-123-4567,None,ilc
1,338191463,Robert MacGregor,robert.macgregor@rbc.com,2021-07-05,416-123-4567,2023-06-29,ilc
2,265846691,Mike Bowler,mike.bowler@rbc.com,2022-03-09,416-123-4567,None,ilc
3,267298933,Adeel Ali,adeel.ali@rbc.com,2022-06-06,416-123-4567,None,ilc
4,267298834,Matt Barcomb,matt.barcomb@rbc.com,2022-06-09,416-123-4567,2023-05-11,ilc
5,271195968,Ellen Grove,ellen.grove@rbc.com,2023-01-03,416-123-4567,None,ilc
6,265072959,Shawn Button,shawn.button@rbc.com,2022-02-01,416-123-4567,None,ilc
7,264101874,Tristan Lescut,tristan.lescut@rbc.com,2021-11-29,416-123-4567,2023-06-16,ilc
8,339011652,Gino Marckx,gino.marckx@rbc.com,2018-05-01,416-123-4567,None,xodiac
9,326239662,Wayne Hetherington,wayne.hetherington@rbc.com,2022-05-01,416-123-4567,None,xodiac
10,ajafri,Ali Jafri,ali.jafri@rbc.com,2022-05-17,416-123-4567,2023-05-17,ra
11,267747404,Ram Bathija,ram.bathija@rbc.com,2022-05-20,416-123-4567,None,ra
12,cliriano,Cristina Liriano,cristina.liriano@rbc.com,2022-11-17,416-123-4567,2023-02-17,ra
13,332052554,Jardena London,jardena.london@rbc.com,2022-05-20,416-123-4567,None,ra
14,264823469,Paul Carvalho,paul.carvalho@rbc.com,2022-01-17,416-123-4567,2023-07-17,qdi

# Join the two dataframes on the consultancy_code column

In [30]:
# Next, we should join the transaction agreement data to the dataframe
df3 = pd.DataFrame([ta.__dict__ for ta in finance.transaction_agreements], columns=TransactionAgreement.__fields__.keys())
df3 = df3.rename(columns={"start_date": "ta_start_date", "end_date": "ta_end_date"})
df3

        number contractor_code  hours     rate ta_start_date ta_end_date
0  ILC-2021-01       338191463    100  $225.00    2023-05-01  2023-06-29
1  ILC-2021-01       267298982    100  $275.00    2023-05-01  2023-10-31
2  ILC-2021-02       267298933    100  $275.00    2023-05-01  2023-10-31
3  ILC-2021-02       265846691    100  $275.00    2023-04-01  2023-09-16

In [36]:
temp1 = pd.merge(df1, df2, on="consultancy_code")
final = pd.merge(temp1, df3, on="contractor_code")
final

,consultancy_code,consultancy_name,contract,contact_name,contact_phone,contact_email,contractor_code,contractor_name,email,start_date,phone_number,end_date,number,hours,rate,ta_start_date,ta_end_date
0,ilc,Industrial Logic Canada,CTR018457,Ardita Karaj,416-123-4567,ardita@industriallogic.ca,267298982,John Borys,john.borys@rbc.com,2022-06-06,416-123-4567,None,ILC-2021-01,100,$275.00,2023-05-01,2023-10-31
1,ilc,Industrial Logic Canada,CTR018457,Ardita Karaj,416-123-4567,ardita@industriallogic.ca,338191463,Robert MacGregor,robert.macgregor@rbc.com,2021-07-05,416-123-4567,2023-06-29,ILC-2021-01,100,$225.00,2023-05-01,2023-06-29
2,ilc,Industrial Logic Canada,CTR018457,Ardita Karaj,416-123-4567,ardita@industriallogic.ca,265846691,Mike Bowler,mike.bowler@rbc.com,2022-03-09,416-123-4567,None,ILC-2021-02,100,$275.00,2023-04-01,2023-09-16
3,ilc,Industrial Logic Canada,CTR018457,Ardita Karaj,416-123-4567,ardita@industriallogic.ca,267298933,Adeel Ali,adeel.ali@rbc.com,2022-06-06,416-123-4567,None,ILC-2021-02,100,$275.00,2023-05-01,2023-10-31